
.icon-top-search {
    background-position: -7px -4px;
    float: left;
    height: 21px;
    margin: 5px 0 0 5px;
    width: 20px;
}

.icon-top-edit {
    background-position: -36px -2px;
    float: left;
    height: 23px;
    margin: 4px 0 0 5px;
    width: 19px;
}

.icon-top-help {
    background-position: -64px -5px;
    float: left;
    height: 19px;
    margin: 5px 0 0 10px;
    width: 11px;
}

.icon-architecture-board {
    background-position: -7px -32px;
    float: left;
    height: 34px;
    margin: 11px 10px 0 0;
    width: 34px;
}

.icon-all {
    background-position: -84px -6px;
    float: left;
    height: 18px;
    margin: 3px 5px 0 0;
    width: 18px;
}

.icon-post {
    background-position: -107px -4px;
    float: left;
    height: 20px;
    margin: 1px 5px 0 0;
    width: 23px;
}

.icon-link {
    background-position: -134px -3px;
    float: left;
    height: 22px;
    margin: 0 5px 0 0;
    width: 22px;
}

.icon-polls {
    background-position: -161px -3px;
    float: left;
    height: 22px;
    margin: 0 5px 0 0;
    width: 18px;
}

.icon-input-search {
    background-position: -223px -7px;
    float: left;
    height: 14px;
    width: 14px;
}

.icon-heart {
    background-position: -186px -7px;
    float: left;
    height: 15px;
    margin: 2px 3px 0 0;
    width: 15px;
}

.icon-chat {
    background-position: -205px -7px;
    float: left;
    height: 15px;
    margin: 2px 3px 0 0;
    width: 15px;
}

.icon-gray-link {
    background-position: -241px -4px;
    float: left;
    height: 20px;
    width: 20px;
}

.icon-left-slider {
    background-position: -4px -72px;
    float: left;
    height: 73px;
    width: 73px;
}

.icon-right-slider {
    background-position: -83px -72px;
    float: left;
    height: 73px;
    width: 73px;
}